@use "../../styles/buttons.scss";
@use "../../styles/layout.scss";

.topSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/HeroImage-homepage.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  padding: 20px;
}
.topSection_h1 {
  max-width: 80%;
}
.topSection_p {
  max-width: 80%;
}
.topSection_button {
  @include buttons.big;
}
.topSection_button:hover {
  @include buttons.hover;
}

@media only screen and (min-width: 600px) {
  .topSection {
    padding: layout.$body-margin;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
  .topSection_h1 {
    max-width: 60%;
  }
  .topSection_p {
    max-width: 40%;
  }
}
.topSection_button_container {
  width: 100%;
}
.topSection_button {
  @include buttons.big;
}
