.topSection {
  background-image: url("../../assets/images/HeroImage-homepage.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(40, 40, 40);
}
.gridContainer {
  height: 500px;
}
