@use "../../styles/buttons.scss";
@use "../../styles/colors.scss";
@use "../../styles/layout.scss";

.icon_container {
  display: flex;
  flex-wrap: wrap;
  margin: layout.$body-margin;
  color: colors.$text;
  .h2 {
    width: 100%;
    text-align: center;
  }
  .icon {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 25%;
    align-items: center;
    margin: 50px 25px;
    background-color: white;
    border: 1px solid colors.$background-light;
    border-radius: 10px;
    box-shadow: 0px 0px 3px;
    padding: 30px;
    transition: background-color 0.3s;
    .icon_image {
    }
    .icon_title {
      color: colors.$main;
    }
    .icon_description {
      text-align: center;
    }
    .icon_readMore_container {
      display: flex;
      align-items: center;
      // margin-left: 60%;
      position: absolute;
      bottom: 0px;
      right: 5px;
      // margin-top: 50px;
    }
  }
  .icon:hover {
    background-color: colors.$background-light;
  }
  .button_container {
    display: flex;
    justify-content: center;
    flex: 100%;

    .button {
      @include buttons.main;
    }
    .button:hover {
      @include buttons.hover;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .icon_container .icon {
    flex: 40%;
  }
}
@media only screen and (max-width: 800px) {
  .icon_container {
    justify-content: center;
  }
  .icon_container .icon {
    flex: 100%;
    max-width: 400px;
  }
}
@media only screen and (min-width: 2000px) {
  .icon .icon_description {
    max-width: 60%;
  }
}
