// Main color
$main: #d19c34;
$main-hover: #bb8b2a;
$main-dark: #d29e35;
// Background color
$background-light: #f5efea;
$background-dark: #a39d99;
$background-hover: #555250;

$dark: #323d43;
$text: #313c44;
