.nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;

  .nav_item {
    .nav_item_a {
      color: brown;
      text-decoration: none;
      font-size: large;
      transition: all 0.3s;
    }
    .nav_item_a:hover {
      color: black;
    }
  }
}
