@use "../../styles/buttons.scss";
@use "../../styles/colors.scss";

.checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .checkout_h1 {
    text-align: center;
    width: 100%;
  }
  .checkout_form {
    background-color: colors.$white;
    max-width: 300px;
    padding: 20px;
    flex: 1;
    border-radius: 3px;
    box-shadow: 0px 0px 3px;
    .checkout_form_h2 {
      text-align: center;
    }
    .checkout_form_p {
      text-align: center;
    }
    .checkout_form_h3 {
      text-align: center;
    }
    .checkout_form_hr {
    }

    .checkout_form_ul {
      list-style: none;
      padding: 0;
      .checkout_form_ul_li {
        display: flex;
        align-items: center;
        margin: 10px;
        .checkout_form_ul_li_icon {
          color: green;
          margin-right: 10px;
        }
      }
    }
  }
  .checkout_button_container {
    display: flex;
    justify-content: end;
    .checkout_button {
      @include buttons.main;
      margin-top: 30px;
    }
    .checkout_button:hover {
      @include buttons.hover;
    }
  }
}
