@use "../../styles/buttons.scss";
@use "../../styles/colors.scss";

.videoFooter {
  background-color: colors.$background-light;
  display: flex;
  justify-content: space-between;
  // margin: 0px 70px;

  .videoFooter_description_container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    .videoFooter_description_title {
      margin: 15px 0px 3px 10px;
    }
    .description_sigridØyen {
      margin: 3px 0px 15px 10px;
    }
  }
  .videoFooter_buttons_container {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .videoFooter_buttons_last {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 5px;
      @include buttons.transparent;
    }
    .videoFooter_buttons_last:hover {
      @include buttons.transparent_hover;
    }
    .videoFooter_buttons_next {
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include buttons.transparent;
    }
    .videoFooter_buttons_next:hover {
      @include buttons.transparent_hover;
    }
  }
}
@media only screen and (max-width: 600px) {
  .videoFooter {
    flex-direction: column;
    .videoFooter_description_container .description_sigridØyen {
      margin-bottom: 5px;
    }
  }
  .videoFooter .videoFooter_buttons_container {
    margin-bottom: 10px;
  }
}
