@use "../../styles/colors.scss";
@use "../../styles//buttons.scss";

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 40px;

  .nav_item {
    .nav_item_a {
      color: colors.$text;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 2px;
      font-size: large;
      transition: 0.3s;
      margin: 15px;
    }
    .nav_item_a:hover {
      text-decoration-color: colors.$main;
    }
  }
  .navMainButton {
    position: absolute;
    right: 20px;
    top: 55px;
    @include buttons.main;
  }
  .navMainButton:hover {
    @include buttons.hover;
  }
}
.logo {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .navMainButton {
    // margin-left: auto;
    position: absolute;
  }
}
