@use "../../styles/colors.scss";
@use "../../styles/buttons.scss";

.nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: auto;
  overflow: hidden;
  margin-top: 0;
  .nav_item {
    margin: 10px 0;

    .nav_item_a {
      color: colors.$text;
      text-decoration: none;
      font-size: large;
      transition: color 0.3s;
    }
    .nav_item_a:hover {
      color: black;
    }
  }
  .navMainButton {
    @include buttons.main;
    margin: 10px 0;
  }
}
.nav_hidden {
  height: 0;
  overflow: hidden;
}

.logo {
  margin-left: 10px;
}

.nav_hamburgerIcon {
  position: absolute !important;
  right: 0px;
  top: 30px;
}
